@font-face {
	font-family: "Athelas W01 Regular";
	src: url("/Fonts/Athelas/904523/9d98c43c-eb88-46b7-ab0b-143e29ce5828.woff2")
		format("woff2");
}

@font-face {
	font-family: "Athelas W01 Bold";
	src: url("/Fonts/Athelas/904526/079434e7-2c5f-49b2-b9c3-108e30c54b35.woff2")
		format("woff2");
}

@font-face {
	font-family: "Athelas W01 Italic";
	src: url("/Fonts/Athelas/904532/dff56a2b-9f6c-41c3-9b8d-49415b53abd8.woff2")
		format("woff2");
}

/* @font-face {
	font-family: "Fira Code";
	src: url("/Fonts/FiraCode/FiraCode-Regular.woff2") format("woff2");
} */

@font-face {
	font-family: "Go Mono";
	src: url("/Fonts/GoMono/GoMonoRegular.ttf") format("ttf");
}

html {
	background-color: seashell;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
}

body {
	max-width: 824px;
	min-width: 600px;
	margin: 48px auto;
}

blockquote {
	margin: 8px;
}

pre {
	/* font-family: "Fira Code", monospace; */
	font-family: "Go Mono", monospace;
	font-size: 14px;
}

strong {
	font-weight: normal;
	font-style: normal;
	font-family: "Athelas W01 Bold";
}

em {
	font-weight: normal;
	font-style: normal;
	font-family: "Athelas W01 Italic";
}
