.editor {
	:global(.cm-scroller) {
		font-family: "Fira Code", monospace;
	}

	@supports (font-variation-settings: normal) {
		:global(.cm-scroller) {
			font-family: "Fira Code", monospace;
			font-size: 14px;
		}
	}

	:global(.cm-focused) {
		outline: none;
	}

	:global(.cm-tooltip) {
		font-family: "Fira Code", monospace;
		font-size: 14px;
	}

	:global(.cm-panel),
	:global(.cm-tooltip) {
		font-family: "Fira Code", monospace;
		font-size: 14px;
	}

	:global(.cm-panel-lint) button {
		display: none;
		pointer-events: none;
	}
}
