.editor {
	:global(.cm-scroller) {
		// font-family: "Fira Code", monospace;
		font-family: "Go Mono", monospace;
	}

	@supports (font-variation-settings: normal) {
		:global(.cm-scroller) {
			// font-family: "Fira Code", monospace;
			font-family: "Go Mono", monospace;
			font-size: 16px;
		}
	}

	:global(.cm-focused) {
		outline: none;
	}

	:global(.cm-tooltip) {
		// font-family: "Fira Code", monospace;
		font-family: "Go Mono", monospace;

		font-family: "Courier New", Courier, monospace;
		font-size: 14px;
	}

	:global(.cm-panel),
	:global(.cm-tooltip) {
		// font-family: "Fira Code", monospace;
		font-family: "Go Mono", monospace;
		font-size: 14px;
	}

	:global(.cm-panel-lint) button {
		display: none;
		pointer-events: none;
	}
}
