.nav {
	// cursor: pointer;
	// user-select: none;

	// @media (min-width: 1024px) {
	// 	flex-direction: "column";
	// }

	nav {
		margin-left: 16px;
		width: 108px;
		.page {
			margin-right: 0;
			text-align: right;
			justify-content: start;
		}

		.page::before {
			border-radius: 0;
		}
	}
}
